# Ignora las dependencias locales (las volveremos a instalar en el contenedor)
/vendor/
/node_modules/

# Ignora el archivo de entorno local (usaremos Secret Manager)
.env
.env.backup
.env.example

# Ignora los logs locales
/storage/logs/
*.log

# Ignora base de datos SQLite local
/database/*.sqlite
/database/*.sqlite-journal
database.sqlite

# Archivos de Git y SO
.git
.gitignore
.gitattributes
README.md
